<div class="row">
  <h3 class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-xs-12">Registro Numero 001-001</h3>
</div>
<div class="row">
    <section class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-xs-12">
      <h2> Datos Generales </h2>
        <app-datos-generales></app-datos-generales>      
    </section>
    <section class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-xs-12">
      <h2> Factores de Riesgo</h2>
        <app-factores-riesgo></app-factores-riesgo>      
      </section>
    <section class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-xs-12">
      <h2> Antecedentes</h2>
        <app-antecedentes></app-antecedentes>      
      </section>
    <section class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-xs-12">
      <h2> Cuadro Clínico</h2>
        <app-cuadro-clinico></app-cuadro-clinico>      
      </section>
    <section class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-xs-12">
      <h2> Función Sistólica del VI</h2>
        <app-funcion-sistolica></app-funcion-sistolica>      
      </section>
    <section class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-xs-12">
      <h2> Coronariografia</h2>
        <app-coronariografia></app-coronariografia>      
      </section>
    <section class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-xs-12">
      <h2> Procedimiento</h2>
        <app-procedimiento></app-procedimiento>      
    </section>
</div>